*{
    margin :0;
    padding :0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-self: center;
    padding :20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#555;
}
.container{
    max-width:1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-items: space-around;    
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding:50px 0;
}